* {
    margin: 0;
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/fondo1.png');
    background-size: cover;
    background-position: center;
}

.glass-container {
    width: 400px; /* Incrementa el ancho */
    height: 550px; /* Incrementa la altura */
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1); /* Transparencia */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* Bordes más redondeados */
    border: 1px solid rgba(255, 255, 255, 0.6); /* Borde blanco */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.glass-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Efecto de desenfoque más notable */
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2); /* Fondo adicional para mejorar el contraste */
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h2 {
    font-size: 24px; /* Texto más grande */
    color: black; /* Negro para mejor visibilidad */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Sombra para mejor visibilidad */
    margin-bottom: 25px;
}

input {
    width: 90%; /* Inputs más grandes */
    padding: 15px; /* Más espacio interno */
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    background: transparent;
    border: 3px solid #fff;
    color: white;
    font-size: 16px; /* Texto más grande */
    text-align: center;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Color más tenue */
}

input:focus {
    outline: none;
    border-color: black; /* Color llamativo al enfocar */
}

button {
    width: 90%; /* Botón más ancho */
    background: linear-gradient(45deg, #4caf50, #81c784); /* Efecto degradado */
    color: white;
    padding: 15px; /* Más espacio interno */
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 16px; /* Texto más grande */
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
}

button:hover {
    background: linear-gradient(45deg, #388e3c, #66bb6a); /* Cambia el degradado al pasar el mouse */
    transform: scale(1.05); /* Efecto de zoom */
}

p, .options {
    font-size: 16px; /* Texto más grande */
    color: #ffffff; /* Blanco para buen contraste */
    margin-top: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Sombra para mejor visibilidad */
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.options input {
    margin-right: 5px;
}

.options a {
    color: aqua; /* Azul claro para enlaces */
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px; /* Texto más grande */
}

.options a:hover {
    text-decoration: underline;
}

.login-box {
    max-width: 300px; /* Más ancho */
    margin: 0 auto;
    text-align: center;
}

p a {
    color: aqua; 
    margin: 20px;
}
